@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #4c0b2e;
  --secondary-color: #a14b79;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
    color:#e5d8e1;
    padding:20px 20px 20px 40px;
    font-size: 40px;
    text-align:center;
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size:contain;
    background-position:bottom;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1 img{
    height: 40px;
    width:50px;
    
}
a:not(footer a){
    color:#fff;
    text-decoration:none;
    font-size:25px;
    padding:10px;
    background-color:#ca2c80;
    border:2px solid #fff;
    
}
a:hover:not(footer a){
    background-color: #3b142a;
    transition:1s;
    box-shadow: 5px 5px #eee;
    
}
footer{
    background-color: #ca2c80;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #ecf8f8;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;      
}
footer a{
    text-decoration: none;
    
}
header {
    position:sticky;
  padding: 1rem;
  display:inline;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
}

.search {
  background-color: #4c0b2e;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #fff;
  font-size:large;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.book img {
  width: 100%;
}

.book-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.book-info h3 {
  margin-top: 0;
}

.book-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.book-info span.green {
  color: lightgreen;
}

.book-info span.orange {
  color: orange;
}

.book-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.book:hover .overview {
  transform: translateY(0);
}